{% extends "base.html" %}

{% block content %}
  <!-- Page Content-->
  <div class="container px-5 my-5">
    <div class="text-center mb-5">
      <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">Your tasks</span></h1>
    </div>
    <div class="row gx-5 justify-content-center">
      <div class="col-lg-11 col-xl-9 col-xxl-8">
        <!-- Task Section-->
        <section>
          {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
              {% for category, message in messages %}
                {% if category == "success" %}
                  <div class="alert alert-primary" role="alert">
                    {{ message }}
                  </div>
                {% else %}
                  <div class="alert alert-danger" role="alert">
                    {{ message }}
                  </div>
                {% endif %}

              {% endfor %}
            {% endif %}
          {% endwith %}
          <div class="d-flex justify-content-md-end mb-4">

            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
              New task +
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Create a new task</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <form method="POST" action="{{ url_for("create_task") }}">
                    <div class="modal-body">
                      <input class="form-control" type="text" name="name" placeholder="Input task description"
                             aria-label="Input task description">
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      <button type="submit" class="btn btn-primary">Create</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          {% for task in task_list %}
            <!-- Experience Card -->
            <div class="card shadow border-0 rounded-4 mb-2">
              <div class="card-body p-2">
                <div class="row align-items-center gx-5">
                  <div class="col text-center text-lg-start mb-4 mb-lg-0">
                    <div class="bg-light p-4 rounded-2">
                      <div class="text-primary fw-bolder mb-2">Task id: {{ task.id }}</div>
                      <div class="small fw-bolder">Status: {{ task.done }}</div>
                    </div>
                  </div>
                  <div class="col-lg-8">
                    <div> {{ task.name }} </div>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        </section>
      </div>
    </div>
  </div>
{% endblock %}